 @use '../base/fonts';
 @use '../base/tipo';
 @use '../utilities/mixins';
 @use '../utilities/colores';

body{
    font-family:tipo.$family-f;
    font-size: tipo.$size-p;

    display: grid;
    place-items: center;
}



.main-container{
    // @include mixins.border(2px,red);
    // width: 50%;
    // max-width: 350px;
    // width: 600px;
     width: 40vw;
    margin: 2rem;
    display: flex;
    // box-sizing:content-box;
    border: 1px solid red;
    
     @include mixins.mq(telefono){
         flex-direction: column;
         align-items: center;
     }
     @include mixins.mq(telefono){
        flex-direction: column;
        align-items: center;
    }

}

.container-result{

     background-image: linear-gradient( colores.$azul-violeta-crcl,colores.$azul-claro-bckgrnd);

    // background-color: mix( colores.$azul-claro-bckgrnd, colores.$azul-pizzara-bckgrnd,75%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem 2rem;
    width: 50%;
    position: relative;
    // left:20px;
    z-index: 1;

    .container-tittle{
        text-align: center;
        font-size: 17px;
        color: colores.$azul-lavanda;
        margin-bottom: 0rem;
    }

    .container-result-circle{
        align-self: center;
        border-radius:50%;
        width:100px;
        padding: 0.5rem;
        

        $fondo-circulo: mix(  colores.$azul-pizzara-bckgrnd,colores.$azul-violeta-crcl, 50%);

        // background-image: linear-gradient(to bottom $fondo-circulo, colores.$azul-claro-bckgrnd);
        // background-color: mix(  colores.$azul-pizzara-bckgrnd,colores.$azul-violeta-crcl, 28%);
        background-color: darken($fondo-circulo, 10%);

        .circle-tittle{
            font-size: 40px;
            display: inline-block;
            text-align: center;
            color: colores.$blanco;
        }

        p{
            text-align: center;
            color:lighten(colores.$azul-grisaceo, 40%);;
        }   

    }

    .container-set h4{
        margin-top: 0.5rem;
        margin-bottom: 0.3;
        text-align: center;
        color: colores.$blanco;
    }
    .container-set p{
        font-size: 14px;
        text-align: center;
        text-align: center;
            color:lighten(colores.$azul-grisaceo, 40%);;
    }
}


.container-summary{
    // width: 250px;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 5%;
    box-shadow: 0px 0px 10px colores.$azul-lavanda;
    width: 50%;
    z-index: 0;

    @include mixins.mq(telefono){
        top: 40px;
    }
    .container-summary-tittle{
        font-size: 17px;
        padding: 0.2rem;
    }

    .item-summary{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        padding-left: 0.7rem;
        margin: 0.5rem;
        border-radius: 10px;
        
        // border: 1px solid grey;
    }
    
    .item-porcentaje{
        color:lighten(colores.$azul-grisaceo, 50%);
    }
    .container-summary-reaction{
        background-color: lighten(colores.$rojo-claro, 30%);

        .container-summary-item-1{
            color: colores.$rojo-claro;

            &::before{
                content: url(/assets/images/icon-reaction.svg);
                @include mixins.colocarSpan;
        }
       }
    }

    .container-summary-memory{
        background-color: lighten( (colores.$naranja-amarillo ), 40%) ;
        .container-summary-item-2{
            color: colores.$naranja-amarillo;

            &::before{
                content: url(/assets/images/icon-memory.svg);
                @include mixins.colocarSpan;
            }
        }
    }

    .container-summary-verbal{
        background-color: lighten(colores.$verde-azulado , 50%);
        .container-summary-item-3{
            color: colores.$verde-azulado;

            &::before{
                content: url(/assets/images/icon-verbal.svg);
                @include mixins.colocarSpan;
            }
        }
    }

    .container-summary-visual{
        background-color: lighten(colores.$azul-cobalto, 50%);
        .container-summary-item-4{
            color: colores.$azul-cobalto;

            &::before{
                content: url(/assets/images/icon-visual.svg);
                @include mixins.colocarSpan;
            }
            
        }
    }

    .container-summary-button{
        text-align: center;
        margin: 0.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        border-radius: 15px;
        background-color: colores.$azul-grisaceo;
        color: colores.$blanco;
        padding: 0.2rem;
        font-size: 15px;

        &:active{
             background-image: linear-gradient(colores.$azul-pizzara-bckgrnd, colores.$azul-claro-bckgrnd);
            cursor: pointer;
        }

        
    }


}

