
//Colores primarios

$rojo-claro:hsl(0,100%,67%);
$naranja-amarillo:hsl(39, 100%, 56%);
$verde-azulado:hsl(166, 100%, 37%);
$azul-cobalto:hsl(234, 85%, 45%);


//Gradiantes

$azul-pizzara-bckgrnd: hsl(251, 100%, 63%);
$azul-claro-bckgrnd:hsl(245, 86%, 57%);
$azul-violeta-crcl:hsla(256, 72%, 46%, 1);
$azul-persa-crcl:hsla(241, 72%, 46%, 0);

//Colores neutrales

$blanco:hsl(0, 0%, 100%);
$azul-palido:hsl(221, 100%, 96%);
$azul-lavanda:hsl(241, 100%, 89%);
$azul-grisaceo:hsl(224, 30%, 27%);