

@mixin border($ancho, $color){
    border: $ancho solid $color;
}

@mixin colocarSpan{
    position: relative;
    left: -5px;
    bottom: -4px;
}

@mixin mq($size) {
    @if $size == telefono {
      @media (max-width: 600px) { @content; }
    } @else if $size == tablet {
      @media (max-width: 900px ) { @content; }
    } @else if $size == desktop {
      @media (min-width: 900px) { @content; }
    } 
  }
  
  